<header>
  <nav
    class="navbar navbar-expand-md navbar-dark bg-success d-inline-flex container-fluid"
  >
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav col-md-6">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>

      <div class="w-100 d-flex text-right justify-content-end">
        <% if (user === undefined || user === false) {%>
        <div class="text-right d-flex col-md-6 float-right justify-content-end">
          <form
            method="GET"
            action="/register"
            class="form-inline text-right mx-2"
          >
            <button
              type="submit"
              class="btn btn-outline-dark text-white border-white"
              action
            >
              Register
            </button>
          </form>
          <form
            method="GET"
            action="/login"
            class="form-inline text-right mx-2"
          >
            <button
              type="submit"
              class="btn btn-outline-dark text-white border-white"
              action
            >
              Login
            </button>
          </form>
        </div>

        <%} else {%>

        <form class="form-inline" method="POST" action="/logout">
          <div class="form-group">
            <p class="my-0 text-white">Welcome <%= user.email %>!</p>
          </div>
          <button
            type="submit"
            class="btn btn-outline-secondary mx-2 text-white border-white"
          >
            Logout
          </button>
        </form>

        <% } %>
      </div>
    </div>
  </nav>
</header>
